*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-style: normal;
    width: 1512px;
    height: 2930px;
}
.container{
    width: 100%;
    max-height: 39px;
    padding: 46px 36px 179px 26px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px;
}
nav ul{
    list-style: none;
    width: 80%;
    text-align: left;
    padding-right: 46px;
}
nav ul li {
    display: inline-block;
    margin: 0px 46px 0px 0px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
.btn{
    text-align: center;
    width: 163px;
    height: 46px;
    border: 0;
    outline: 0;
    background: #000;
    color: white;
    cursor: pointer;
}
span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main{
    width: 100%;
    margin-top: 39px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.head{
    color: #000;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px; /* 100% */
}
.product{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.action{
    text-align: center;
    width: 195px;
    height: 50px;
    border-radius: 15px;
    background: #000;
    color: white;
    cursor: pointer;
}
.top{
    display: contents;
}
.vector{
    margin: 20px;
    padding: 10px;
}
.product{
    padding-bottom: 82px;
}
.women{
    width: 724px;
    height: 454px;
    background-image: url(../img/Rectangle\ 9.png);
    background-repeat: no-repeat; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.h2{
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px; /* 100% */
}
