*{
  box-sizing: border-box;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #F2F2F2;
  /* width: 1243px; */
  width: 65%;
  margin: 0 auto;
  padding: 142px 0 128px;
}

.title{
  max-width: 995px;
  color: #2D3640;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -0,5px;
}

.title-paragrah{
  color: #2B292D;
  font-size: 20px;
  font-weight: 400;
  max-width: 695px;
  font-style: normal;
  line-height: 40px;
  margin-bottom: 50px;
}

.title, .title-paragrah{
  /* position: relative;
  left: 300px; */
  margin-left: 150px;
}

.conteiner{
  text-align: center;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.conteiner-position{
  padding: 58px 0 122px;
  width: 23%;
  min-width: 200px;
  background-color: white;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

.conteiner-position::after {
  content: "";
  clear: both;
  display: table;
}

.image-photo{
  overflow: hidden;
  max-width: 114px;
  max-height: 114px;
  margin: o auto;
  border-radius: 100%;
  border: 3px solid #EFF3F8;
}

.name{
  font-size: 20px;
  font-style: normal;
  color: #2D3640;
  font-family: Catamaran;
  font-weight: 700;
  letter-spacing: -0.625px;
  margin: 34px 0 4px;
}

.position{
  font-size: 16px;
  font-style: normal;
  color: #4B4F52;
  font-family: Catamaran;
  font-weight: 700;
  margin-bottom: 33px;
  margin-top: 0;
}

.image-logo{
 overflow: hidden;
 width: 30px;
 height: 30px;
 margin-right: 15px;
}

.image-logo:last-child{
  margin-right: 0;
}