*{
    box-sizing: border-box;
}
body{
    margin: 100px;
    text-align: left;
}
strong{
color: #2D3640;
font-family: IBM Plex Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 80px; /* 166.667% */
letter-spacing: -0.5px;
}
h1{
color: #2D3640;
font-family: IBM Plex Sans;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 80px;
letter-spacing: -0.5px;
}
.titles{
color: #2B292D;
font-family: IBM Plex Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
}
.container{
    text-align: center;
<<<<<<< HEAD
    display: inline-block;
=======
>>>>>>> de92cbbb19e46fd27fc6affa26bbd58d54455e01
}
.clearfix{
    content: "";
    clear: both;
<<<<<<< HEAD
    display: inline-block;
=======
    display: block;
>>>>>>> de92cbbb19e46fd27fc6affa26bbd58d54455e01
}
.vuejs{
  padding: 58px 0 122px;
  width: 295px;
  height: 470px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;  
  float: inline-start;
  position: relative;
  left: 150px;
  margin-right: 20px;
  overflow: hidden;
}
.vuejs::after{
content: "";
clear: both;
display: table;
}
<<<<<<< HEAD
img{
=======
.first-portreit{
>>>>>>> de92cbbb19e46fd27fc6affa26bbd58d54455e01
  overflow: hidden;
  max-width: 114px;
  max-height: 114px;
  margin: o auto;
  border-radius: 100%;
  border: 3px solid #EFF3F8;
}
h3{
    color: #2D3640;
    text-align: center;
    font-family: Catamaran;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.625px;
}
h4{
color: #4B4F52;
text-align: center;
font-family: Catamaran;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.reactjs{
padding: 58px 0 122px;
width: 295px;
height: 470px;
background-color: white;
border-radius: 20px;
border: 2px solid black;  
float: inline-start;
position: relative;
left: 150px;
margin-right: 20px;
overflow: hidden;
}