.{
    box-sizing: border-box;
}
body{
    background-image: url(../img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter';
    line-height: normal;
    position: relative;
    width: 1728px;
    height: 1117px;
}
header{
    padding: 70px 33px 116px 80px;
}
.netfliks{
    display: flex;
    align-items: center;
    padding-bottom: 116px;
    justify-content: space-between;
}
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
}
.friday{
    color: #C8C8C8;
    font-family: 'Castoro Titling';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%; 
    margin: 0 auto;
    padding: 0 33px;
}
button{
   position: relative;
    width: 43px;
    height: 43px;
    background: none;
    border: none;
}
button .vector{
    position: absolute;
    width: 36px;
    height: 36px;
    top: 4px;
    left: 4px;
}
.user{
    width: 74px;
    height: 74px;
}
.user .elipse{
    position: fixed;
    width: 74px;
    height: 74px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.label {
  width: 564px;
  height: 112px;
}

.label .drama-thriller {
  position: fixed;
  width: 564px;
  top: 0;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}
